.container .double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .left-menu {
    margin-top: 50px;
    height: 397px;
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    }
.container .left-menu .left-menu-item {
    width: 344px;
    border: 1px solid #000000;
}

.container .left-menu .left-menu-item1 {
    border-bottom: none;
}

.container .left-menu .left-menu-item-obd {
    border-bottom: none;
    border-top: none;
}

.container .left-menu .left-menu-item5 {
    border-top: none;
}

.container .left-menu .left-menu-link {
    text-decoration: none;
}

.container .left-menu .left-menu-link-p {
    font-size: 27px;
    padding: 20px 0 18px 20px;
}

.container .left-menu .left-menu-item:hover {
    background-color: #DBDBDB;
}
.container .left-menu .left-menu-item .left-menu-link-p {
    color: #485863;
}
.container .left-menu .left-menu-item .left-menu-link-p:hover {
    transform: translateX(20px);
}

.picture {
    display: flex;
    height: 529px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 67%;
    margin-top: 50px;
    border: 1px solid #000000;
}
.picture1 {
    width: 200px;
    }
.picture1:hover {
    width: 330px;
    transition: 1s;
}
.container .Text {
    display: flex;
    flex-direction: column;
    margin-left: 420px;
    margin-top: 50px;
}

.container .Text-p {
    padding-top: 30px;
}