.container .bottom-div {
    display: flex;
    flex-direction: row;
}
.container .bottom-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;

}
.container .another {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: rgba(99, 105, 110, 0.48);
    padding: 12px 57px 10px 50px;
    font-size: 24px;
}
.container .bottom-menu .bottom-menu-item {
    background: rgba(99, 105, 110, 0.48);
    padding: 16px 10px 10px 40px;
}
.container .bottom-menu .bottom-menu-link {
    text-decoration: none;
}
.container .bottom-menu .bottom-menu-link-text {
    font-size: 28px;
}
.container .bottom-menu .bottom-menu-item .bottom-menu-link-text {
    color: black;
}

.container .bottom-menu .bottom-menu-item .bottom-menu-link-text:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}