* {
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}

.pageHeader .headerMain .headerMain-logo {
    font-size: 80px;
    color: black;
}
.pageHeader .headerMain .colorText {
    color: #4BCAFF;
}
.logo-hyperlink {
    text-decoration: none;
}
.main-logo {
    margin-bottom: 40px;
    padding-top: 63px;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

.container .navigation {
    text-align: center;
    background: #35444F;
}
.container .navigation .nav-item {
    display: inline-block;
    padding: 22px 28px 22px 28px;
    border-right: 1px #FFFFFF;
    border-left: 1px #FFFFFF;
    border-style: solid;
}

.container .navigation .nav-item .nav-link {
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.container .navigation .nav-item:hover {
    background: #222f3a;
}